<div class="format-actions">
  <button
    (click)="toggleBold()"
    class="format-action"
    type="button">
    <b>B</b>
  </button>
  <button
    (click)="toggleItalic()"
    class="format-action"
    type="button">
    <i>I</i>
  </button>
  <button
    (click)="toggleUnderline()"
    class="format-action"
    type="button">
    <u>U</u>
  </button>
</div>
