<app-header [title]="title"></app-header>

<main>
  <app-control-panel [selectedText]="selectedText"></app-control-panel>
  <app-file
    (textSelected)="onTextSelected($event)"
  ></app-file>
</main>

<app-footer></app-footer>
