<span
  *ngIf="selected"
  [style.top]="top"
  [style.left]="left"
  class="synonyms-tooltip"
  [mat-menu-trigger-for]="menu"
>
  <mat-menu #menu xPosition="after" yPosition="below">
    <div
      mat-menu-item
      *ngFor="let synonym of synonyms"
      (click)="selectSynonym(synonym)">
    {{ synonym }}
  </div>
    </mat-menu>
</span>
